@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 244, 244, 240;
  --background-start-rgb: 44, 44, 44;
  --background-end-rgb: 5, 5, 5;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hanji-texture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
  opacity: 0.12;
  mix-blend-mode: overlay;
  background-image: url('/assets/hanji_texture.png');
  background-size: 500px;
  background-repeat: repeat;
}

/* Custom Utilities */
.text-balance {
  text-wrap: balance;
}
